# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Django stuff
db.sqlite3
media/

# VS Code config
.vscode/

# Environment variables
.env

# Local dev scripts
run.ps1

# Optional: ignore all .pyc files in any subfolder
**/*.pyc
